<%= @year %> year <%= @month %> month
<p>
<a href="/login_success"> Go back to the previous page</a>
<a href="/<%= @year %>/<%= @month-1 %>"> last month</a>
<a href="/<%= @year %>/<%= @month+1 %>"> next month</a>
</p>
<%= @t %>